{{> header}}
{{> navbar}}
<div class="card bg-dark text-white">
  <img src="/images/imagenInicio.jpg" class="card-img" alt="" height="800" width="100" style="opacity: 0.5;">
  <div class="card-img-overlay">
    <h1 class="heyahe">P I N T O R E S<br>-Algunos pintores, su historia y sus obras-</h1>
  </div>
</div>
<div class="twice">
</div>
<div class="night">
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="/images/rubens.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Rubens</h5>
        <p class="card-text">Peter Paul Rubens fue un pintor barroco de la escuela flamenca. Su estilo exuberante enfatiza el dinamismo, el color y la sensualidad.</p>
        <a href="/rubens" class="card-link">Ver info.</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/images/velazquez.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Velazquez</h5>
        <p class="card-text">Fue un pintor barroco español considerado uno de los máximos exponentes de la pintura española y maestro de la pintura universal.</p>
        <a href="/velazquez" class="card-link">Ver info.</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/images/sanzio.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Sanzio</h5>
        <p class="card-text">Raffaello Sanzio, ​también conocido como Rafael de Urbino o simplemente como Rafael, ​​ fue un pintor y arquitecto italiano del Renacimiento.</p>
        <a href="/sanzio" class="card-link">Ver info.</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/images/tiziano.jpg" class="card-img-top" alt="..." height="400">
      <div class="card-body">
        <h5 class="card-title">Tiziano</h5>
        <p class="card-text">Tiziano, Vecellio di Gregorio fue un pintor italiano del Renacimiento, uno de los mayores exponentes de la Escuela veneciana.</p>
        <a href="/tiziano" class="card-link">Ver info.</a>
      </div>
    </div>
  </div>
</div>
</div>
{{> footer}}