{{> header}}
{{> navbar}}
    <div class="time">
        <h1>{{title}}</h1>
        <h3>{{descr}}</h3>
    </div><br>
    <h1 class="walls">Biografia</h1><hr><br>
     <img class="sia"src="/images/rubenDos.jpg" style="float:right" width="400" height="430">
     <h4 class="ache">
        Jan Rubens, su padre, era abogado y funcionario municipal en Amberes. Cuando se convirtió del catolicismo al calvinismo tuvo que abandonar Flandes para exiliarse en Siegen (Alemania), donde nació Pablo Rubens. A la muerte de su padre en 1587, su madre regresó con sus hijos a Amberes y volvieron a convertirse al catolicismo.<br><br>
        La escasez económica lo llevó a trabajar como paje para la corte hasta que decidió hacerse pintor. Su primer aprendizaje artístico fue hacía 1591, con Tobias Verhaecht, un pintor flamenco de paisajes. Después, se formó en el taller de Adam van Noort y en el de Otto van Veen. Todos ellos eran pintores flamencos menores, influidos por el manierismo del siglo XVI de la escuela florentino-romana.<br><br>
        En 1598, a los 21 años, concluye su formación superando el examen de maestro ante la Guilda de San Lucas de Amberes y viaja a Italia para ampliar su formación artística estudiando las obras del Renacimiento. En Venecia se sintió atraído por las obras de Tiziano, Veronés y Tintoretto, que tendrán gran influencia en su producción. Allí conoció a un noble que le recomendó para trabajar en la corte del duque de Mantua, Vincenzo Gonzaga, quien lo contrató durante un periodo de nueve años.<br><br>
        En 1608, el delicado estado de salud de su madre le obligó a regresar a Amberes. Allí se casó con Isabella Brant en 1609, fue considerado el pintor más importante de Flandes y requerido como pintor de corte del archiduque austriaco Alberto y de su esposa, la infanta española Isabel, que gobernaban los Países Bajos como virreyes al servicio del rey de España.<br><br>
        La fama de Rubens se extendió a todas las cortes europeas y recibió tantos encargos que tuvo que crear en su casa un gran taller, en el que él sólo realizaba el boceto inicial y los toques finales, mientras que sus aprendices se encargaban de las fases intermedias.<br><br>
        En 1628 los virreyes de Flandes lo envían a España. Estuvo al servicio de Felipe IV, quien le nombró secretario de su Consejo Privado y fue mentor del joven pintor español Diego Velázquez.<br><br>
        Finalmente, falleció el 30 de Mayo de 1640 en su casa de Amberes, a punto de cumplir los 63 años. Su pintura ha ejercido enorme influencia en otros artistas como Jean Antoine Watteau, Delacroix o Auguste Renoir.
     </h4><br>
<h1 class="walls">Obras</h1><hr><br>
<div class="party">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/paris.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">El Juicio de Paris</h5>
        <p class="card-text">1639</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/caida.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">La Caida de los Condenados</h5>
        <p class="card-text">1620</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="fiesta">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/cristo.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Descendimiento de Cristo</h5>
        <p class="card-text">1612 - 1614</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/medusa.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Medusa</h5>
        <p class="card-text">1617 - 1618</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/saturno.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Saturno</h5>
        <p class="card-text">1636</p>
      </div>
    </div>
  </div>
</div>
</div>
{{> footer}}