{{> header}}
{{> navbar}}
    <div class="time">
        <h1>{{title}}</h1>
        <h3>{{descr}}</h3>
    </div><br>
    <h1 class="walls">Biografia</h1><hr><br>
     <img class="sia"src="/images/sanzDos.jpg" style="float:right" width="400" height="430">
     <h4 class="ache">
         Rafael ha sido considerado históricamente, junto con Leonardo y Miguel Ángel, como uno de los pilares del Cinquecento italiano, además de uno de los grandes genios de la pintura de todos los tiempos. Deudor en sus inicios de influencias quattrocentistas, se erigirá en representante perfecto del arte clasicista antes de que éste entre en su etapa de "decadencia" (y Rafael con él en sus últimos años, arrastrado por el potente manierismo miguelangelesco).<br><br>
            Hay que señalar también que en su haber contará con una carrera como arquitecto, no excesivamente conocida ni determinante para la historia del arte (si se exceptúa el encargo de continuación de las obras de la basílica de San Pedro, de las que se hará brevemente cargo a la muerte de su amigo Bramante).<br><br>
            Rafael Sanzio nace en Urbino en 1483, hijo de un pintor no demasiado excelente, Giovanni de Santi, pero que tuvo el buen criterio de encaminar los pasos de su vástago hacia el mundo del arte. Será con el padre con quien inicie Rafael su aprendizaje, ayudándolo en el desarrollo de algunas de las obras que tenía encargadas en Urbino, pasando posteriormente a conocer los rudimentos de la pintura de manos de Timoteo Viti antes de ser enviado a Perugia a formarse en compañía de Pietro Vannucci, más conocido como El Perugino.<br><br>
            Rafael muere en 1520, cuando estaba pintando la que será su última e inconclusa obra, la Transfiguración, dejando tras de sí un buen número de seguidores que tratarán de imitar su estilo en los años venideros.
     </h4><br>
<h1 class="walls">Obras</h1><hr><br>
<div class="party">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/miguel.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">San Miguel</h5>
        <p class="card-text">1518</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/atenas.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">La Escuela de Atenas</h5>
        <p class="card-text">1512</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="fiesta">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/dragon.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">San Jorge y el Dragón</h5>
        <p class="card-text">1506</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/figura.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">La Transfiguracion</h5>
        <p class="card-text">1516 - 1520</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/galatea.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">El Triunfo de Galatea</h5>
        <p class="card-text">1511</p>
      </div>
    </div>
  </div>
</div>
</div>
{{> footer}}