{{> header}}
{{> navbar}}
    <div class="time">
        <h1>{{title}}</h1>
        <h3>{{descr}}</h3>
    </div><br>
    <h1 class="walls">Biografia</h1><hr><br>
     <img class="sia"src="/images/tiziDos.jpg" style="float:right" width="400" height="430">
     <h4 class="ache">
        Pintor destacado perteneciente a la Escuela Veneciana del s.XVI, Tiziano recoge en sus inicios el testigo dejado por Giorgione para evolucionar en los presupuestos por él introducidos relativos a luz, color y percepción, tan distintos ya de los empleados por los anteriores maestros venecianos quattrocentistas (las líneas son más imprecisas, predomina el color, los contornos se difuminan…), llegando en su vejez a crear composiciones que asombrosamente prefiguran formalmente el posterior impresionismo.<br><br>
            Tiziano es un pintor de la alegría, la sensualidad y la elegancia, como se puede apreciar en sus conocidas composiciones de carácter mitológico, además de un avezado observador de la realidad y del carácter humano, tal y como atestiguan los múltiples retratos que realizó (tipología destacable en su producción por la originalidad que consiguió imprimirle, conformándose en maestro de posteriores pintores).<br><br>
            Oriundo de la región de Cadore, Tiziano nace en el seno de una conocida familia en un año aún por determinar (se cree que su alumbramiento se debió producir hacia 1487). Junto con su hermano será enviado a Venecia en fecha temprana, entrando a formarse al taller del mosaísta Zuccato primero y de los pintores Gentile y Giovanni Bellini después. Sin embargo, y según palabras de los teóricos Dolce y Vasari, Tiziano, sintiendo mayor inclinación por el nuevo estilo propio del Cinquecento, adoptará la resolución de tomar por "maestro" finalmente a Giorgione.<br><br>
            Tanto asimilará el estilo de este pintor que incluso hoy día existen dudas con respecto a la atribución de determinadas obras, puesto que será mucha la perfección que Tiziano alcance en la imitación de su estilo. Existirían también obras consideradas pertenecientes a su periodo "bellinesco" aunque su autoría presenta dudas igualmente.
     </h4><br>
<h1 class="walls">Obras</h1><hr><br>
<div class="party">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/adonis.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Venus y Adonis</h5>
        <p class="card-text">1553- 1554</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/rapto.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">El Rapto de Europa</h5>
        <p class="card-text">1560 - 1562</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="fiesta">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/dioses.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">El Festin de los Dioses</h5>
        <p class="card-text">1514</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/noli.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Noli Me Tangere</h5>
        <p class="card-text">1511 - 1512</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/concierto.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Concierto Campestre</h5>
        <p class="card-text">1509</p>
      </div>
    </div>
  </div>
</div>
</div>
{{> footer}}